/* <!--Menu--> */
body {
  margin: 0;
  padding: 0;
  background: white;
}
.navbar ul {
  list-style: none;
  background: rgb(245, 183, 193);
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.navbar a:hover {
  background: rgb(228, 156, 200);
}
.ul {
  color: pink;
}
.logo {
  margin: 0px;
  width: 90px;
  padding: 10px;
}
/* <!--Main--> */
.p {
  text-align: center;
  color: pink;
  text-decoration: underline grey;
  font-size: 40px;
  font-style: italic;
}
.main {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main article {
  background-color: rgb(240, 199, 206);
  padding: 100px;
  height: 100px;
  width: 200px;
  text-align: left;
}
.main aside {
  background-color: white;
}
/* <!--Footer--> */
.footer {
  width: 100%;
  height: 50px;
  background-color: pink;
  text-align: right;
  background-size: cover;
}
.img {
  width: 20px;
  margin: 10px;
}
